
@media screen and (max-width: 768px){
    .jpg{
        width: 70%;
        margin-top: 4rem;
    }
    .btn{
        font-size: 1.3rem;

    }
    h1{
        font-size: 1rem;
    }
    .gif{
        width: 35%;
    }
}   

@media screen and (max-width: 475px){
    .jpg{
        width: 70%;
        margin-top: 5rem;
    }
    .btn{
        font-size: 1rem;
        padding-left: 0;
        padding-right: 0;
    }
    h1{
        font-size: 0.75rem;
    }
    .gif{
        width: 30%;
    }
}