

@font-face {
    font-family: lightfont;
    src: url(TheLightFont.ttf) format('truetype');
}

body{
}

img {color:black}


.btn{
    position: fixed;
    top:0;
}

.logo{
     text-align: center; margin-top:1em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.nav1{
    background-color:#eeeeee;
    border-radius: 10px;
    margin-top: 1em;
    padding: 0.4em;
    
}
.bar1{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.8em;
    font-weight: bold;
    text-align:center;
    font-family: Bitter;
    color: white;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),url(5.png);
    background-size: 20%;
}

.carousel-inner img {
    border: 1.5px solid black;
    width: 100%;
    height: 100%;
}

ol.carousel-indicators {
    position: absolute;
    bottom: 95%;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
  }
  ol.carousel-indicators li,
  ol.carousel-indicators li.active {
      border-radius: 100%;
      height: 11px;
      width: 11px;
      box-shadow: 0 0.5px 0 0.5px aquamarine
  }

.carousel-caption{
    width: 45%;
    left: 2%;
    bottom: 3%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 5px 0 5px;
    border-radius: 1em;
}

.carousel-caption>a{
    color:white;
}

#p1{
    font-size: 2em;
    font-family: Poppins;
}
#p2{ 
    font-size: 0.9em;
    font-family: Roboto;

}
#p3{
    padding: 5px;
}
#p4{
    font-size: 1.8em;
    font-weight: bold;
    font-family: Bitter;
    color: white;
}
#p5{
    font-family: PT Sans;
    color:white;
}
.nav2{
    background-color:#f2f6fa;
    border-radius: 8px;
    margin-top: 1em;
    padding: 0.2em;
}

.col-2{
    text-align: center;
    font-family: lightfont;
    font-size: 2em;
    color:whitesmoke;
    opacity: 0.95;
    text-shadow: 0 0.5px 0 blue;
}

.col-sm-3{
    padding-top: 1em;
    padding-left: 0.2em;
}

.season1img{
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),url(Episode_card_background.jpg);
    background-size: 150%;
}
.nav3{
    background-color:#eff3f6;
    border-radius: 5px;
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.nav>a:hover{
    color: silver;
}

.nav>a.active,
.nav>a:focus {
    font-weight: bold;
    color: white;
    opacity: 1;
}

.outline{
    width: 105%;
    border: 1px solid #c4dff6;
    border-radius: 10px;
    background-color: #EEECEC;
   padding-top: 0.5em;
   padding-left: 0.5em;
    padding-right: 0.6em;
    padding-bottom: 0.7em;
    text-align: center;
    position: relative;
}
.episode{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    box-shadow: 3px 6px 5px #caccd1;
}
.episode:hover{
    opacity: 0.8;
}

#ptap{
    position: absolute;
    left: 50%;
    top: 88%;
    width: 20%;
    transform: translate(-50%, -50%);
    font-size: 100%;
    color: black;
    background: #d4d5d8;
    font-family: 'Roboto';
    font-weight: bold;
    border-radius: 3px;
}
p {
    display: inline-block;
}

.alert{
    text-align:center;
    font-size: 3em;
    font-family: 'Roboto';  
}

.about{
    text-align: center;
    font-family: Roboto;
    font-weight: lighter;
    padding-top: 1em;
}

.col-3point5 {width: 32%}

.carousel-caption>a.class1:hover{
    color: brown;
    text-decoration: none;
}
.carousel-caption>a.class2:hover{
    color: hotpink;
    text-decoration: none;
}
.carousel-caption>a.class3:hover{
    color: #66CC00;
    text-decoration: none;
}

.mw{
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url(4.png);
    background-size: 20%;
}
.mwee{
    height:auto;
    overflow:auto;
    padding: 3px;
    margin-bottom:5px;
    border-radius: 3px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
}
.mwe img{
    width: 68%;
    float:left;
}
.mwee:hover{
    opacity:0.8;
}
.mwe>a:hover{
    text-decoration: none;
}