@font-face {
    font-family: sheptember;
    src: url(Sheptember.ttf);
}
.btn{
    position: fixed;
    top:0;
    right: 10px;
}

.nav1{
    background-color:whitesmoke;
    border-radius: 5px;
    margin-top: 3em;
    padding: 1em;
}

.bar1{
    background-color: aquamarine;
    border-radius: 5px;
    text-align:center;
}

.nav2{
    background-color:whitesmoke;
    border-radius: 5px;
    margin-top: 1em;
    padding: 1em;
}

.col-sm-2{
    text-align: center;
    border: 1px groove black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: sheptember;
    background-color: black;
    font-size: 2em;
    color:white;
    padding-top:0.1em;
}

.nav3{
    background-color:whitesmoke;
    border-radius: 5px;
    margin-top: 1em;
    padding: 1em;
}

#table1, #table2{
    display: none;
}