@media screen and (min-width:992px) and (max-width:1200px){

    .about{
        font-size: 15px !important;
        padding-left: 100px;
    }
}
@media screen and (min-width:768px) and (max-width:1020px){

    .about{
        font-size: 13px !important;
        padding-left: 120px;
    }
    .col-2{
        font-size: 20px !important;
    }
}
@media screen and (max-width:1019px) {
    .nav2{
        padding: 0.1em;
        border-radius: 3px;
        margin-bottom: 1em;
    }
    .navmain{
        padding: 0.5em 1em 0.5em 1em;
        border-radius: 10px;
    }
    .alert{
        font-size: 20px;
    }

     .col-2{
         font-size: 15px;
         padding-left:0.5em;
         text-align: center;
     }
     h1{
         font-size: 30px;
     }
     .fa-arrow-circle-right, .fa-arrow-circle-left{
        font-size: 35px !important;
    }
    .fb-page{
        margin:0 auto;
        display: table;
    }
    .about{
        font-size: 12px;
    }
  }

  @media screen and (max-width: 768px){
      h2{
          font-size: 15px;
      }
  }

  @media screen and (max-width:440px) {
    .col-2{
        font-size: 9px;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 10px;
    }
    .fa-arrow-circle-right, .fa-arrow-circle-left {
        font-size: 20px !important;
    }
  }