

@font-face {
    font-family: lightfont;
    src: url(../TheLightFont.ttf) format('truetype');
}


body{
}

.logo{
    display: block; margin-left: auto; margin-right: auto; margin-top:1em; width:33%;
}

.season1img{
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url(../Episode_card_background.jpg);
}

.btn{
    position: fixed;
    top:0;
    right: 10px;
}


.col-2{
    text-align: center;
    font-family: lightfont;
    font-size: 2em;
    color:whitesmoke;
    opacity: 0.95;
    text-shadow: 0 0.5px 0 blue;
}

.nav3{
    background-color:#eff3f6;
    border-radius: 5px;
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


.nav>a:hover{
    color: silver;
}

.nav>a.active,
.nav>a:focus {
    font-weight: bold;
    color: white;
    opacity: 1;
}


.episode{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    box-shadow: 3px 6px 5px #caccd1;
}
.episode:hover{
    opacity: 0.8;
}

p{
    position: absolute;
    left: 50%;
    top: 88%;
    width: 20%;
    transform: translate(-50%, -50%);
    font-size: 100%;
    color: black;
    background: #d4d5d8;
    font-family: 'Roboto';
    font-weight: bold;
    border-radius: 3px;
}
.about{
    text-align: center;
    font-family: Roboto;
    font-weight: lighter;
    padding-top: 1em;
}
h1{
    font-family: Poppins;
    display: inline-block;
    background-color: black;
    color:white;
}

.alert{
    text-align:center;
    font-size: 3em;
    font-family: 'Roboto';  
}

.nav2{
    background-color:whitesmoke;
    border-radius: 5px;
    margin-top: 1em;
    padding: 0.2em;
    margin-bottom: 3em;
}

.col-5-12{
    width: 20%;
}

.navmain{
    background-color: whitesmoke;
    border-radius: 20px; 
    padding: 1em 2em 1em 2em;
     text-align: center;
     position: relative;
     background-color: rgba(205, 208, 215,0.97);
}

.video{
    position:relative;
    padding-bottom:56.25%;
    height:0;
    max-width:100%;
    overflow:hidden;
}

.carousel-control-prev{ 
    opacity:1!important;
    margin-left: -25px;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(20%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-20%);
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
  
}
